.container {
  background-color: #efefef;
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px 50px;
  box-shadow: 0 0 10px gray;
}

.text-center {
  text-align: center;
}

.exp-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 10px gray;
}

.form-div input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.trasation-list {
  list-style: none;
  padding: 5px;
  margin: 5px 0;
  background-color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.trasation-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 5px;
  text-transform: capitalize;
}

.li-btn {
  width: auto;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 5px;
  /* opacity: 0.4; */
}
