.container {
  background-color: #efefef;
  max-width: 450px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px 50px;
  box-shadow: 0 0 10px gray;
}

.text-center {
  text-align: center;
}

.exp-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 10px gray;
}

.form-div input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

.trasation-list {
  list-style: none;
  /* width: 100%; */
  padding: 5px;
  margin: 5px 0;
  background-color: #fff;
}
